
.article_img > img{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.start {
    text-align: center;

}

.title {
    border: 1px solid salmon;
    font-size: 45px;
    margin: 40px 15%;
    margin-bottom: 0;
    font-weight: 500;
}

.subtitle {
    margin: 40px 15%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
}

.author_date {
    font-size: 20px;
}

.Article_body {
    width: 70%;
    height: fit-content;
    margin: 0 auto;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-spacing: 5px;
    line-height: 30px;
}
.Large > .article_info > h3, p {
    width: 100%;
}
br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 10px; /* change this to whatever height you want it */
}

.conversation {
    width: 70%;
    height: fit-content;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
}

hr {
    border: none;
    background-color: black;
    height: 1px;
}
.comment_container > p {
    margin: 0;
}
.comment_container {
    border: 1px solid gray;
    overflow-wrap: break-word;
    word-break: normal;
}
.comment_user {
    font-weight: 600;
}
.comment_time {
    font-weight: 100;
    font-size: 15px;
}

::selection{
    transition: 0.5s;
    color: #fff;
    background: #4671EA;
  }
  .wrapper{
    position: relative;
    transition: 0.5s;
    width: 90%;
    background: #fff;
    border-radius: 5px;
    padding: 25px 25px 30px;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.06);
    padding-bottom: 70px;
  }
  .wrapper h2{
    color: #4671EA;
    font-size: 28px;
    text-align: center;
    height: fit-content;
  }
  .wrapper textarea{
    transition: 0.5s;
    width: 94%;
    resize: none;
    outline: none;
    padding: 15px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    max-height: 300px;
    caret-color: #4671EA;
    border: 1px solid #bfbfbf;
  }

  .btn {
    position: absolute;
    right: 26px;
    bottom: 20px;
    padding: 8px 15px;
    font-size: 16px;
    border: 2px solid rgb(183, 106, 255);
    border-radius: 4px;
    background-color: rgb(183, 106, 255);
    color: white;
    font-weight: 500;

  }
  .btn_input {
    width: 100px;
    height: 40px;
  }

  .btn_input {
    cursor: pointer;
    border-radius: 4px;
    font-weight: 400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  textarea::placeholder{
    color: #b3b3b3;
  }
  textarea:is(:focus, :valid){
    padding: 14px;
    border: 2px solid rgb(183, 106, 255);
  }
  textarea::-webkit-scrollbar{
    width: 0px;
  }

@media only screen and (max-width: 800px) {
    .Article_body {
        width: 96%;
    } 
    .conversation {
        width: 96%;
    }
}
@media only screen and (max-width: 650px) {
    .title {
        font-size: 30px;
    }
    .subtitle {
        font-size: 20px;
    }
}