{% extends 'arsite/Studio.html' %}
{% block head %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'arsite/delete_page.css' %}">
{% endblock head %}
{% block replace_by_delete %}
<div id='container_are'>
    <div id='up'>
        <h1>Are you sure?</h1>
    </div>
    <div id='down'>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete" id='btn_delete'>
            <div onclick='window.history.back()' id='btn_no'>No</div>
        </form>
    </div>
</div>
{% endblock replace_by_delete %}